<div class="cv" #target0>
  <app-menu></app-menu>
  <div class="liens">
    <div class="divLiens">
      <a href="https://www.linkedin.com/in/arnaud-huelin-89b3b4166/" target="_blank"><img src="assets/linkedin.svg" width="35px" height="35px"/></a>
      <div class="mailto">
        <a href="mailto:arnaud.huelin@gmail.com"><img src="assets/gmail-icon.svg" width="auto" height="35px" title="arnaud.huelin@gmail.com"/></a>
      </div>
    </div>
    <div class="divLang">
      <button class="lang" mat-button (click)="toEN()">EN</button>
      <button class="lang" mat-button (click)="toFR()">FR</button>
    </div>
  </div>
  <div class="mycareer">
    <h2 class="titleMyCareer">{{ 'CV.TITLE' | translate }}</h2>
  </div>

  <div class="emptyAfterFleche"></div>
  <div (click)="scrollToElement(target2)" class="fleche"></div>
  <div class="emptyAfterFleche" #target2></div>

  <h2 class="parts">{{ 'CV.PART1' | translate }}</h2>

<!--  <div class="group1">
    <div class="dateLeft" data-aos="fade-in">
      <h4>{{ 'CV.EXP6.DATE' | translate }}</h4>
    </div>
    <div class="exp" data-aos="fade-left">
      <h4 class="expTitle">{{ 'CV.EXP6.TITLE' | translate }}</h4>
      <h4 class="expTitle companyStyle">{{ 'CV.EXP6.COMPANY' | translate }} - {{ 'CV.EXP6.DURATION' | translate }}</h4>
      <p class="expText">{{ 'CV.EXP6.TEXT' | translate }}</p>
    </div>
  </div>-->

  <div class="group1">
    <div class="dateLeft" data-aos="fade-in">
      <h4>{{ 'CV.EXP5.DATE' | translate }}</h4>
    </div>
    <div class="exp" data-aos="fade-in">
      <h4 class="expTitle">{{ 'CV.EXP5.TITLE' | translate }}</h4>
      <h4 class="expTitle companyStyle">{{ 'CV.EXP5.COMPANY' | translate }} - {{ 'CV.EXP5.DURATION' | translate }}</h4>
      <p class="expText">{{ 'CV.EXP5.TEXT' | translate }}</p>
    </div>
  </div>

  <div class="group1">
    <div class="dateLeft" data-aos="fade-in">
      <h4>{{ 'CV.EXP4.DATE' | translate }}</h4>
    </div>
    <div class="exp" data-aos="fade-in">
      <h4 class="expTitle">{{ 'CV.EXP4.TITLE' | translate }}</h4>
      <h4 class="expTitle companyStyle">{{ 'CV.EXP4.COMPANY' | translate }}</h4>
      <p class="expText">{{ 'CV.EXP4.TEXT' | translate }}</p>
    </div>
  </div>

  <div class="group1">
    <div class="dateLeft" data-aos="fade-in">
      <h4>{{ 'CV.EXP3.DATE' | translate }}</h4>
    </div>
    <div class="exp" data-aos="fade-in">
      <h4 class="expTitle">{{ 'CV.EXP3.TITLE' | translate }}</h4>
      <h4 class="expTitle companyStyle">{{ 'CV.EXP3.COMPANY' | translate }}</h4>
      <p class="expText">{{ 'CV.EXP3.TEXT' | translate }}</p>
      <ul>
        <li>{{ 'CV.EXP3.LI1' | translate }}</li>
        <li>{{ 'CV.EXP3.LI2' | translate }}</li>
      </ul>
    </div>
  </div>

  <div class="group1">
    <div class="dateLeft" data-aos="fade-in">
      <h4>{{ 'CV.EXP2.DATE' | translate }}</h4>
    </div>
    <div class="exp" data-aos="fade-in">
      <h4 class="expTitle">{{ 'CV.EXP2.TITLE' | translate }}</h4>
      <h4 class="expTitle companyStyle">{{ 'CV.EXP2.COMPANY' | translate }} - {{ 'CV.EXP2.DURATION' | translate }}</h4>
      <p class="expText">{{ 'CV.EXP2.TEXT' | translate }}</p>
      <ul>
        <li>{{ 'CV.EXP2.LI1' | translate }}</li>
        <li>{{ 'CV.EXP2.LI2' | translate }}</li>
      </ul>
    </div>
  </div>

  <div class="group1">
    <div class="dateLeft" data-aos="fade-in">
      <h4>{{ 'CV.EXP1.DATE' | translate }}</h4>
    </div>
    <div class="exp" data-aos="fade-in">
      <h4 class="expTitle">{{ 'CV.EXP1.TITLE' | translate }}</h4>
      <h4 class="expTitle companyStyle">{{ 'CV.EXP1.COMPANY' | translate }}</h4>
      <p class="expText">{{ 'CV.EXP1.TEXT' | translate }}</p>
      <ul>
        <li>{{ 'CV.EXP1.LI1' | translate }}</li>
        <li>{{ 'CV.EXP1.LI2' | translate }}</li>
        <li>{{ 'CV.EXP1.LI3' | translate }}</li>
      </ul>
    </div>
  </div>

  <h2 class="parts">{{ 'FORMATION.PART2' | translate }}</h2>

  <div class="group1">
    <div class="dateLeft" data-aos="fade-in">
      <h4>{{ 'FORMATION.F1.DATE' | translate }}</h4>
    </div>
    <div class="exp" data-aos="fade-in">
      <h4 class="expTitle">{{ 'FORMATION.F1.TITLE' | translate }}</h4>
      <h4 class="expTitle companyStyle">{{ 'FORMATION.F1.SCHOOL' | translate }}</h4>
    </div>
  </div>

  <div class="group1">
    <div class="dateLeft" data-aos="fade-in">
      <h4>{{ 'FORMATION.F2.DATE' | translate }}</h4>
    </div>
    <div class="exp" data-aos="fade-in">
      <h4 class="expTitle">{{ 'FORMATION.F2.TITLE' | translate }}</h4>
      <h4 class="expTitle companyStyle">{{ 'FORMATION.F2.SCHOOL' | translate }}</h4>
    </div>
  </div>

  <div class="group1">
    <div class="dateLeft" data-aos="fade-in">
      <h4>{{ 'FORMATION.F3.DATE' | translate }}</h4>
    </div>
    <div class="exp" data-aos="fade-in">
      <h4 class="expTitle">{{ 'FORMATION.F3.TITLE' | translate }}</h4>
      <h4 class="expTitle companyStyle">{{ 'FORMATION.F3.SCHOOL' | translate }}</h4>
    </div>
  </div>

  <div class="group1">
    <div class="dateLeft" data-aos="fade-in">
      <h4>{{ 'FORMATION.F4.DATE' | translate }}</h4>
    </div>
    <div class="exp" data-aos="fade-in">
      <h4 class="expTitle">{{ 'FORMATION.F4.TITLE' | translate }}</h4>
      <h4 class="expTitle companyStyle">{{ 'FORMATION.F4.SCHOOL' | translate }}</h4>
    </div>
  </div>

  <div (click)="scrollToElement(target0)" class="fleche2"></div>
  <app-footer></app-footer>
</div>
