<div class="menu">
  <div class="entete">
    <button mat-button disabled class="myname">Arnaud Huelin</button>
  </div>
  <div class="arrondi">
<!--    <a routerLink="/"><button mat-raised-button color="primary">Portfolio</button></a>-->
    <a download href="assets/HUELIN-Arnaud_Resume-english.pdf"><button mat-raised-button class="resume-menu" color="primary">RESUME EN</button></a>
    <button mat-button disabled class="job">{{ 'MENU.PROFIL' | translate }}</button>
<!--    <a download href="assets/HUELIN-Arnaud_CV.pdf"><button mat-raised-button color="primary">{{ 'MENU.CV' | translate }}</button></a>-->
<!--    <a routerLink="/resume"><button mat-raised-button color="primary">{{ 'MENU.CV' | translate }}</button></a>-->
    <a download href="assets/HUELIN-Arnaud_CV-francais.pdf"><button mat-raised-button class="resume-menu" color="primary">CV FR</button></a>
  </div>
</div>
