.projets{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  user-select: none;
}
.carte{
  width: 36vw;
  margin-top: 0px;
  margin-bottom: 0px;
  height: auto;
  border-radius: 30px;
  text-align: justify;
}

.fleche{
  clip-path: polygon(100% 0, 100% 60%, 50% 100%, 0 60%, 0 0, 50% 40%);
  background: linear-gradient(90deg, rgba(123,31,162,1) 0%, rgba(156,39,205,1) 100%);
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  height: 100px;
  border-radius: 5px;
  animation-fill-mode: both;
  animation-name: exitAnim;
  animation-duration: 0.5s;
}

.fleche:hover{
  cursor: pointer;
  animation-fill-mode: both;
  animation-name: enterAnim;
  animation-duration: 0.5s;
}

@keyframes enterAnim {
  0%   {opacity: 1;}
  100% {opacity: 0.5;}
}
@keyframes exitAnim {
  0%   {opacity: 0.5;}
  100% {opacity: 1;}
}

.emptyAfterFleche{
  height: 100px;
}

mat-card-content{
  padding-left:30px!important;
  padding-right:30px!important;
}
mat-card-content{
  height: auto;
  height: 100px;
}
mat-card-title,mat-card-subtitle{
  margin-left: -30px;
  letter-spacing: 1px;
}
.example-card{
  background-color: #4c5158;
  //height: 35vw!important;
}

mat-card-actions{
  margin-bottom: 0px!important;
  margin-left:0px!important;
  margin-right:0px!important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left:30px!important;
  padding-right:23px!important;
}
.techno{
  padding-left:0px!important;
  padding-right:0px!important;
  min-width: 30px;
}

@media screen and (max-device-width:1400px),
screen and (max-width:1400px) {
  .carte{
    width: 60vw;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  mat-card-content, mat-card-actions{
    padding-left:5px!important;
    padding-right:5px!important;
  }
  mat-card-content{
    height: auto;
  }
  .emptyAfterFleche{
    height: 40px;
  }
}

@media screen and (max-device-width:1350px),
screen and (max-width:768px) {
  .carte{
    width: 90vw;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  mat-card-content, mat-card-actions{
    padding-left:0px!important;
    padding-right:0px!important;
  }
  mat-card-content{
    height: auto;
  }
  mat-card-actions a{
    margin-left: 0;
    margin-right: 0;
  }
  .emptyAfterFleche{
    height: 40px;
  }
  .techno{
    font-size: 0.8em;
  }
}

