<div class="fleche"></div>
<div class="projets">

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>AdMob ads on Android and IOS application</mat-card-title>
        <mat-card-subtitle>Projet universitaire</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/admob/admob4.jpg" alt="admob ads on IOS and Android application">
      <mat-card-content>
        <p>
          Intégration de publicités AdMob dans l'application BetFight (IOS et Android). Monétisation et paramétrage du public visé avec les outils Google.
          Vidéos avec récompenses et vidéos interstitiels.<br><br>
          Angular Ionic Capacitor.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SEE MORE ON PLAYSTORE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Site internet https://salepim.fr</mat-card-title>
        <mat-card-subtitle>Projet d'auto-entrepreunariat</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/salepim/salepim.JPG" alt="https://salepim.fr">
      <mat-card-content>
        <p>
          Conception from scratch du site https://salepim.fr. Vente de livres pour l'auteur Paul Warren,
          paiement avec l'API de Paypal,
          gestion de livraison avec Mondial Relay ou livraison à domicile,
          génération automatique des factures puis envoi aux clients
          avec une partie gestion des stocks. Formulaire de contact.
          Log4j pour les logs<br><br>
          Angular 11, Java Spring et postgreSQL.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SEE MORE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="fleche"></div>

<div class="projets">
  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Site internet https://lafeedespetitspas.fr</mat-card-title>
        <mat-card-subtitle>Projet d'auto-entrepreunariat</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/lafdpp/lafdpp.JPG" alt="https://lafeedespetitspas.fr">
      <mat-card-content>
        <p>
          Conception from scratch du site https://lafeedespetitspas.fr.
          Professionnelle de la petite enfance, Cindy Grondin-Frison propose ses services auprès de parents et d'assistantes maternelles.
          Interface d'administration permettant de modifier le contenu de chaque page réalisé from scratch. Formulaire de contact.<br><br>
          PHP, Javascript et MySQL.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SEE MORE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Site internet https://www.koncept-komet.fr/</mat-card-title>
        <mat-card-subtitle>Projet de stage</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/koncept/koncept.JPG" alt="https://www.koncept-komet.fr/">
      <mat-card-content>
        <p>
          Conception à partir des maquettes et éléments visuel fournis du site https://www.koncept-komet.fr/ dans le cadre d'un stage de 6 mois.
          Gestion des feuilles de postes à pourvoir.
          Gestion d'envois par email de candidatures faites sur le site<br><br>
          Angular 8, Java Spring et postgreSQL.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SEE MORE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="fleche"></div>

<div class="projets">

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Application Android CheckTour</mat-card-title>
        <mat-card-subtitle>Projet d'auto-entrepreunariat</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/checktour/checktour2.jpg" height="350px" width="auto" alt="Application Android CheckTour">
      <mat-card-content>
        <p>
          Conception from scratch d'une application mobile permettant aux chauffeur de bus de faire le tour de leur véhicule avant départ.
          Vérification des points critiques, commentaires et prises de photo en cas de défaillance.
          Authentification avec Firebase authentication.
          <br><br>
          Java Android.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SEE MORE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Site internet https://betfight.net</mat-card-title>
        <mat-card-subtitle>Projet universitaire</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/betfight_wp/betfight.JPG" height="350px" width="auto" alt="Site internet https://betfight.net">
      <mat-card-content>
        <p>
          Conception from scratch du site https://betfight.net présentant l'application mobile BetFight.
          Template crée sur mesure.
          Formulaire de contact.
          Internationalisation.
          <br><br>
          WordPress et MySQL.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SEE MORE</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>

<div class="fleche"></div>

<div class="projets">

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Jeu 2D</mat-card-title>
        <mat-card-subtitle>Projet personnel</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/jeu2D/jeu2d.jpg" height="350px" width="auto" alt="Jeu 2D">
      <mat-card-content>
        <p>
          Conception from scratch d'un petit jeu 2D.
          Déplacement au clavier, visée et tir à la souris.
          Gestion des munitions.
          Gestion de la santé du personnage.
          Gesion du score.
          <br><br>
          Java.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SEE MORE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>NeoCampus</mat-card-title>
        <mat-card-subtitle>Projet universitaire</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/neocampus/neocampus2.JPG" height="350px" width="auto" alt="NeoCampus">
      <mat-card-content>
        <p>
          Conception from scratch d'une application permettant de déclarer un incident au sein de l'université (incendie, panne, etc,...)
          Une application serveur permettant d'administrer les utilisateurs et les groupes. Système de chat utilisant les sockets.
          Une application client permettant de créer des tickets et de discuter avec les utilisateurs du groupe concerné.
          <br><br>
          Java.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SEE MORE</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>

<div class="fleche"></div>

<div class="projets">

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>TechBlog</mat-card-title>
        <mat-card-subtitle>Projet universitaire</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/techblog/techblog.PNG" height="350px" width="auto" alt="TechBlog">
      <mat-card-content>
        <p>
          Conception from scratch d'un petit blog technique.
          Interface d'administration permettant d'ajouter, de modifier ou de supprimer des articles selon les catégories.
          <br><br>
          Angular 8, Java Spring et postgreSQL.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SEE MORE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Cadeaux de noël</mat-card-title>
        <mat-card-subtitle>Projet personnel</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/cadeaunoel/cadeaunoelJPG.JPG" height="350px" width="auto" alt="Cadeaux de noël">
      <mat-card-content>
        <p>
          Conception from scratch d'un site internet permettant à des membre d'une famille d'ajouter ou de modifier sa liste de voeux pour noël.
          Les autres membres de sa famille peuvent voir sa liste et réserver un cadeau à lui offrir.
          <br><br>
          PHP et MySQL.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SEE MORE</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>

<div class="fleche"></div>

<div class="projets">

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Qu'est-ce qu'on mange ?</mat-card-title>
        <mat-card-subtitle>Projet universitaire</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/webx/webx.JPG" height="350px" width="auto" alt="Qu'est-ce qu'on mange ?">
      <mat-card-content>
        <p>
          Conception from scratch d'un site internet permettant d'avoir une recette aléatoire selon un pays choisi,
          ou selon l'adresse IP du client, ou complétement aléatoire.
          L'application serveur consomme plusieurs API : Geolocate API pour la localisation, The MealDB pour les recettes et Flickr pour les photos.
          <br><br>
          VueJS et Jersey REST.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SEE MORE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte">

  </div>

</div>
