<div class="fleche"></div>
<div class="projets">

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>AdMob ads on Android and IOS application</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/admob/admob4.jpg" alt="admob ads on IOS and Android application">
      <mat-card-content>
        <p>
          Intégration de publicités AdMob dans l'application BetFight (IOS et Android). Monétisation et paramétrage du public visé avec les outils Google.
          Vidéos avec récompenses et vidéos interstitiels.<br><br>
          Angular Ionic Capacitor.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SEE MORE ON PLAYSTORE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Site internet https://salepim.fr</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/salepim/salepim.JPG" alt="https://salepim.fr">
      <mat-card-content>
        <p>
          Conception from scratch du site https://salepim.fr. Vente de livres pour l'auteur Paul Warren,
          paiement avec l'API de Paypal,
          gestion de livraison avec Mondial Relay ou livraison à domicile,
          génération automatique des factures puis envoi aux clients
          avec une partie gestion des stocks. Formulaire de contact.<br><br>
          Angular 11 et Java Spring.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SEE MORE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="fleche"></div>

<div class="projets">
  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Site internet https://lafeedespetitspas.fr</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/lafdpp/lafdpp.JPG" alt="https://lafeedespetitspas.fr">
      <mat-card-content>
        <p>
          Conception from scratch du site https://lafeedespetitspas.fr.
          Professionnelle de la petite enfance, Cindy Grondin-Frison propose ses services auprès de parents et d'assistantes maternelles.
          Interface d'administration permettant de modifier le contenu de chaque page réalisé from scratch. Formulaire de contact.<br><br>
          PHP.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SEE MORE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Site internet https://www.koncept-komet.fr/</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/koncept/koncept.JPG" alt="https://www.koncept-komet.fr/">
      <mat-card-content>
        <p>
          Conception à partir des maquettes et éléments visuel fournis du site https://www.koncept-komet.fr/ dans le cadre d'un stage de 6 mois.
          Gestion des feuilles de postes à pourvoir.
          Gestion d'envois par email de candidatures faites sur le site<br><br>
          Angular 8 et Java Spring.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SEE MORE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
