<div class="emptyAfterFleche"></div>
<div (click)="scrollToElement(target)" class="fleche"></div>
<div class="emptyAfterFleche" #target></div>

<div class="projets">

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE13' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE13' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/brainsquiz/Resultat_multi.PNG" alt="BrainSquiz">
      <mat-card-content>
        <p>{{ 'PROJECTS.TEXT13' | translate }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO13' | translate }}</button>
<!--        <button mat-raised-button color="primary" disabled>{{ 'PROJECTS.BUTTON9' | translate }}</button>-->
      </mat-card-actions>
    </mat-card>
</div>

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE1' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE1' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/admob/admob4R.jpg" alt="admob ads on IOS and Android application">
      <mat-card-content>
        <p>{{ 'PROJECTS.TEXT1' | translate }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button class="techno" mat-button disabled>{{ 'PROJECTS.TECHNO1' | translate }}</button>
<!--        <button mat-raised-button color="primary" disabled>{{ 'PROJECTS.BUTTON1' | translate }}</button>-->
      </mat-card-actions>
    </mat-card>
  </div>


</div>

<div class="emptyAfterFleche"></div>
<div (click)="scrollToElement(target2)" class="fleche"></div>
<div class="emptyAfterFleche" #target2></div>

<div class="projets">

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE2' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE2' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/salepim/salepimR.jpg" alt="https://salepim.fr">
      <mat-card-content>
        <p>{{ 'PROJECTS.TEXT2' | translate }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO2' | translate }}</button>
        <a mat-raised-button color="primary" href="https://salepim.fr/" target="_blank">{{ 'PROJECTS.BUTTON2' | translate }}</a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE3' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE3' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/lafdpp/lafdpp2R.jpg" alt="https://lafeedespetitspas.fr">
      <mat-card-content>
        <p>{{ 'PROJECTS.TEXT3' | translate }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO3' | translate }}</button>
        <a mat-raised-button color="primary" href="https://www.lafeedespetitspas.fr/" target="_blank">{{ 'PROJECTS.BUTTON3' | translate }}</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="emptyAfterFleche"></div>
<div (click)="scrollToElement(target3)" class="fleche"></div>
<div class="emptyAfterFleche" #target3></div>

<div class="projets">

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE4' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE4' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/koncept/konceptR.jpg" alt="https://www.koncept-komet.fr/">
      <mat-card-content>
        <p>{{ 'PROJECTS.TEXT4' | translate }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO4' | translate }}</button>
        <a mat-raised-button color="primary" href="https://www.koncept-komet.fr/" target="_blank">{{ 'PROJECTS.BUTTON4' | translate }}</a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE11' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE11' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/webx/webxR2.jpg" alt="Qu'est-ce qu'on mange ?">
      <mat-card-content>
        <p>{{ 'PROJECTS.TEXT11' | translate }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO11' | translate }}</button>
<!--        <button mat-raised-button color="primary" disabled>{{ 'PROJECTS.BUTTON11' | translate }}</button>-->
      </mat-card-actions>
    </mat-card>
  </div>

</div>

<div class="emptyAfterFleche"></div>
<div (click)="scrollToElement(target4)" class="fleche"></div>
<div class="emptyAfterFleche" #target4></div>

<div class="projets">

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE6' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE6' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/betfight_wp/betfightR.jpg" alt="Site internet https://betfight.net">
      <mat-card-content>
        <p>{{ 'PROJECTS.TEXT6' | translate }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO6' | translate }}</button>
        <a mat-raised-button color="primary" href="https://betfight.net/" target="_blank">{{ 'PROJECTS.BUTTON6' | translate }}</a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE7' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE7' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/jeu2D/jeu2dR.jpg" alt="Jeu 2D">
      <mat-card-content>
        <p>{{ 'PROJECTS.TEXT7' | translate }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO7' | translate }}</button>
<!--        <button mat-raised-button color="primary" disabled>{{ 'PROJECTS.BUTTON7' | translate }}</button>-->
      </mat-card-actions>
    </mat-card>
  </div>

</div>

<div class="emptyAfterFleche"></div>
<div (click)="scrollToElement(target5)" class="fleche"></div>
<div class="emptyAfterFleche" #target5></div>

<div class="projets">

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE5' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE5' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/checktour/checktour2R.jpg" alt="Application Android CheckTour">
      <mat-card-content>
        <p>{{ 'PROJECTS.TEXT5' | translate }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO5' | translate }}</button>
        <!--        <button mat-raised-button color="primary">{{ 'PROJECTS.BUTTON5' | translate }}</button>-->
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE8' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE8' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/neocampus/neocampus2R.jpg" alt="NeoCampus">
      <mat-card-content>
        <p>{{ 'PROJECTS.TEXT8' | translate }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO8' | translate }}</button>
<!--        <button mat-raised-button color="primary" disabled>{{ 'PROJECTS.BUTTON8' | translate }}</button>-->
      </mat-card-actions>
    </mat-card>
  </div>

</div>

<div class="emptyAfterFleche"></div>
<div (click)="scrollToElement(target6)" class="fleche"></div>
<div class="emptyAfterFleche" #target6></div>

<div class="projets">

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE10' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE10' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/cadeaunoel/cadeaunoelR.jpg" alt="Cadeaux de noël">
      <mat-card-content>
        <p>{{ 'PROJECTS.TEXT10' | translate }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO10' | translate }}</button>
<!--        <button mat-raised-button color="primary" disabled>{{ 'PROJECTS.BUTTON10' | translate }}</button>-->
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE9' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE9' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/techblog/techblogR.png" alt="TechBlog">
      <mat-card-content>
        <p>{{ 'PROJECTS.TEXT9' | translate }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO9' | translate }}</button>
<!--        <button mat-raised-button color="primary" disabled>{{ 'PROJECTS.BUTTON9' | translate }}</button>-->
      </mat-card-actions>
    </mat-card>
  </div>



</div>

<div class="emptyAfterFleche"></div>
