<!--<div class="emptyAfterFleche"></div>-->
<!--<div (click)="scrollToElement(target)" class="fleche"></div>-->
<div class="emptyAfterFleche" #target></div>

<div class="projets">

  <div class="carte" *ngIf="technoSelected=='Angular' || technoSelected=='.NET' || technoSelected=='Flutter' || technoSelected == null">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE13' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE13' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <app-carousel [projectName]="'brainsquiz'"></app-carousel>
<!--      <img class="capture" mat-card-image src="assets/brainsquiz/Resultat_multi.PNG" alt="BrainSquiz">-->
      <mat-card-content>
        <p class="tasktitle"><strong>{{ 'PROJECTS.TEXT13' | translate }}</strong></p>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT131' | translate }}</p></div>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT132' | translate }}</p></div>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT133' | translate }}</p></div>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT134' | translate }}</p></div>
      </mat-card-content>
      <mat-card-actions>
        <div class="filter-techn">
          <img class="logo-styl" [matTooltip]="technos[0].name" [src]="technos[0].logo"/>
          <img class="logo-styl" [matTooltip]="technos[2].name" [src]="technos[2].logo"/>
          <img class="logo-styl" [matTooltip]="technos[3].name" [src]="technos[3].logo"/>
          <img class="logo-styl" [src]="technosBdd[2].logo"/>
        </div>
        <div class="datesp">
          <p>{{ 'PROJECTS.DATE13' | translate}}</p>
        </div>
        <!--        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO13' | translate }}</button>-->
        <!--        <button mat-raised-button color="primary" disabled>{{ 'PROJECTS.BUTTON9' | translate }}</button>-->
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte" *ngIf="technoSelected=='Angular' || technoSelected=='Java' || technoSelected == null">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE2' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE2' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <app-carousel [projectName]="'salepim'"></app-carousel>
      <!--    <img mat-card-image src="assets/salepim/salepimR.jpg" alt="https://salepim.fr">-->
      <mat-card-content>
        <p class="tasktitle"><strong>{{ 'PROJECTS.TEXT2' | translate }}</strong></p>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT22' | translate }}</p></div>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT23' | translate }}</p></div>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT24' | translate }}</p></div>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT25' | translate }}</p></div>
      </mat-card-content>
      <mat-card-actions>
        <div class="filter-techn">
          <img class="logo-styl" [matTooltip]="technos[0].name" [src]="technos[0].logo"/>
          <img class="logo-styl" [matTooltip]="'Java Spring'" [src]="technosWithoutFilter[0].logo"/>
          <img class="logo-styl" [matTooltip]="technosBdd[1].name" [src]="technosBdd[1].logo"/>
        </div>
        <div class="datesp">
          <p>{{ 'PROJECTS.DATE2' | translate}}</p>
        </div>
        <!--        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO2' | translate }}</button>-->
        <!--        <a mat-raised-button color="primary" href="https://salepim.fr/" target="_blank">{{ 'PROJECTS.BUTTON2' | translate }}</a>-->
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte" *ngIf="technoSelected=='Angular' || technoSelected == null">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE1' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE1' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <app-carousel [projectName]="'admob'"></app-carousel>
<!--      <img mat-card-image src="assets/admob/admob4R.jpg" alt="admob ads on IOS and Android application">-->
      <mat-card-content>
        <p class="tasktitle"><strong>{{ 'PROJECTS.TEXT1' | translate }}</strong></p>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT12' | translate }}</p></div>
      </mat-card-content>
      <mat-card-actions>
        <div class="filter-techn">
          <img class="logo-styl" [matTooltip]="technos[0].name" [src]="technos[0].logo"/>
          <img class="logo-styl-firebase" [src]="technosBdd[3].logo"/>
        </div>
        <div class="datesp">
          <p>{{ 'PROJECTS.DATE1' | translate}}</p>
        </div>
        <!--        <button class="techno" mat-button disabled>{{ 'PROJECTS.TECHNO1' | translate }}</button>-->
        <!--        <button mat-raised-button color="primary" disabled>{{ 'PROJECTS.BUTTON1' | translate }}</button>-->
      </mat-card-actions>
    </mat-card>
  </div>


  <div class="carte" *ngIf="technoSelected=='Java' || technoSelected == null">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE5' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE5' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <app-carousel [projectName]="'checktour'"></app-carousel>
      <!--      <img mat-card-image src="assets/checktour/checktour2R.jpg" alt="Application Android CheckTour">-->
      <mat-card-content>
        <p class="tasktitle"><strong>{{ 'PROJECTS.TEXT5' | translate }}</strong></p>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT52' | translate }}</p></div>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT53' | translate }}</p></div>
      </mat-card-content>
      <mat-card-actions>
        <div class="filter-techn">
          <img class="logo-styl" [src]="technos[1].logo"/>
          <img class="logo-styl-firebase" [src]="technosBdd[3].logo"/>
        </div>
        <div class="datesp">
          <p>{{ 'PROJECTS.DATE5' | translate}}</p>
        </div>
        <!--        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO5' | translate }}</button>-->
        <!--        <button mat-raised-button color="primary">{{ 'PROJECTS.BUTTON5' | translate }}</button>-->
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte" *ngIf="technoSelected=='Angular' || technoSelected=='Java' || technoSelected == null">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE14' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE14' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <app-carousel [projectName]="'keymaster'"></app-carousel>
      <!--      <img mat-card-image src="assets/keymaster/keymaster1.jpg" alt="Application Android CheckTour">-->
      <mat-card-content>
        <p class="tasktitle"><strong>{{ 'PROJECTS.TEXT14' | translate }}</strong></p>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT141' | translate }}</p></div>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT142' | translate }}</p></div>
      </mat-card-content>
      <mat-card-actions>
        <div class="filter-techn">
          <img class="logo-styl" [matTooltip]="technos[0].name" [src]="technos[0].logo"/>
          <img class="logo-styl" [matTooltip]="'Java Spring'" [src]="technosWithoutFilter[0].logo"/>
          <img class="logo-styl" [src]="technosBdd[1].logo"/>
        </div>
        <div class="datesp">
          <p>{{ 'PROJECTS.DATE14' | translate}}</p>
        </div>
        <!--        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO5' | translate }}</button>-->
        <!--        <button mat-raised-button color="primary">{{ 'PROJECTS.BUTTON5' | translate }}</button>-->
      </mat-card-actions>
    </mat-card>
  </div>


  <div class="carte" *ngIf="technoSelected=='Angular' || technoSelected=='Java' || technoSelected == null">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE15' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE15' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <app-carousel [projectName]="'restaurant'"></app-carousel>
      <!--      <img mat-card-image src="assets/restaurant/restaurant.jpg" alt="restaurant">-->
      <mat-card-content>
        <p class="tasktitle"><strong>{{ 'PROJECTS.TEXT15' | translate }}</strong></p>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT151' | translate }}</p></div>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT152' | translate }}</p></div>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT153' | translate }}</p></div>
      </mat-card-content>
      <mat-card-actions>
        <div class="filter-techn">
          <img class="logo-styl" [matTooltip]="technos[0].name" [src]="technos[0].logo"/>
          <img class="logo-styl" [matTooltip]="'Java Spring'" [src]="technosWithoutFilter[0].logo"/>
          <img class="logo-styl-firebase" [src]="technosBdd[0].logo"/>
        </div>
        <div class="datesp">
          <p>{{ 'PROJECTS.DATE15' | translate}}</p>
        </div>
        <!--        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO5' | translate }}</button>-->
        <!--        <button mat-raised-button color="primary">{{ 'PROJECTS.BUTTON5' | translate }}</button>-->
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte" *ngIf="technoSelected=='Angular' || technoSelected=='Java' || technoSelected == null">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE4' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE4' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <app-carousel [projectName]="'koncept'"></app-carousel>
<!--      <img mat-card-image src="assets/koncept/konceptR.jpg" alt="https://www.koncept-komet.fr/">-->
      <mat-card-content>
        <p class="tasktitle"><strong>{{ 'PROJECTS.TEXT4' | translate }}</strong></p>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT42' | translate }}</p></div>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT43' | translate }}</p></div>
      </mat-card-content>
      <mat-card-actions>
        <div class="filter-techn">
          <img class="logo-styl" [matTooltip]="technos[0].name" [src]="technos[0].logo"/>
          <img class="logo-styl" [matTooltip]="'Java Spring'" [src]="technosWithoutFilter[0].logo"/>
          <img class="logo-styl" [matTooltip]="technosBdd[1].name" [src]="technosBdd[1].logo"/>
        </div>
        <div class="datesp">
          <p>{{ 'PROJECTS.DATE4' | translate}}</p>
        </div>
        <!--        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO4' | translate }}</button>-->
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte" *ngIf="technoSelected=='PHP' || technoSelected == null">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE3' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE3' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <app-carousel [projectName]="'lafdpp'"></app-carousel>
      <!--      <img mat-card-image src="assets/lafdpp/lafdpp2R.jpg" alt="https://lafeedespetitspas.fr">-->
      <mat-card-content>
        <p class="tasktitle"><strong>{{ 'PROJECTS.TEXT3' | translate }}</strong></p>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT32' | translate }}</p></div>
      </mat-card-content>
      <mat-card-actions>
        <div class="filter-techn">
          <img class="logo-styl" [src]="technos[4].logo"/>
          <img class="logo-styl-firebase" [src]="technosBdd[0].logo"/>
        </div>
        <div class="datesp">
          <p>{{ 'PROJECTS.DATE3' | translate}}</p>
        </div>
        <!--        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO3' | translate }}</button>-->
        <!--        <a mat-raised-button color="primary" href="https://www.lafeedespetitspas.fr/" target="_blank">{{ 'PROJECTS.BUTTON3' | translate }}</a>-->
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte" *ngIf="technoSelected=='PHP' || technoSelected == null">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE10' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE10' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <app-carousel [projectName]="'noel'"></app-carousel>
      <!--      <img mat-card-image src="assets/cadeaunoel/cadeaunoelR.jpg" alt="Cadeaux de noël">-->
      <mat-card-content>
        <p class="tasktitle"><strong>{{ 'PROJECTS.TEXT10' | translate }}</strong></p>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT102' | translate }}</p></div>
      </mat-card-content>
      <mat-card-actions>
        <div class="filter-techn">
          <img class="logo-styl" [src]="technos[4].logo"/>
          <img class="logo-styl-firebase" [src]="technosBdd[0].logo"/>
        </div>
        <div class="datesp">
          <p>{{ 'PROJECTS.DATE10' | translate}}</p>
        </div>
        <!--        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO10' | translate }}</button>-->
        <!--        <button mat-raised-button color="primary" disabled>{{ 'PROJECTS.BUTTON10' | translate }}</button>-->
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte" *ngIf="technoSelected=='Java' || technoSelected == null">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE7' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE7' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <app-carousel [projectName]="'jeu2D'"></app-carousel>
      <!--      <img mat-card-image src="assets/jeu2D/jeu2dR.jpg" alt="Jeu 2D">-->
      <mat-card-content>
        <p class="tasktitle"><strong>{{ 'PROJECTS.TEXT7' | translate }}</strong></p>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT72' | translate }}</p></div>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT73' | translate }}</p></div>
      </mat-card-content>
      <mat-card-actions>
        <div class="filter-techn">
          <img class="logo-styl" [src]="technos[1].logo"/>
        </div>
        <div class="datesp">
          <p>{{ 'PROJECTS.DATE7' | translate}}</p>
        </div>
        <!--        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO7' | translate }}</button>-->
        <!--        <button mat-raised-button color="primary" disabled>{{ 'PROJECTS.BUTTON7' | translate }}</button>-->
      </mat-card-actions>
    </mat-card>
  </div>


  <div class="carte" *ngIf="technoSelected=='VueJS' || technoSelected=='Java' || technoSelected == null">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE11' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE11' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <div class="capture">
        <img mat-card-image src="assets/webx/webxR2.jpg" alt="Qu'est-ce qu'on mange ?">
      </div>
      <mat-card-content>
        <p class="tasktitle"><strong>{{ 'PROJECTS.TEXT11' | translate }}</strong></p>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT112' | translate }}</p></div>
      </mat-card-content>
      <mat-card-actions>
        <div class="filter-techn">
          <img class="logo-styl" [matTooltip]="technos[5].name" [src]="technos[5].logo"/>
          <img class="logo-styl" [src]="technos[1].logo"/>
        </div>
        <div class="datesp">
          <p>{{ 'PROJECTS.DATE11' | translate}}</p>
        </div>
        <!--        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO11' | translate }}</button>-->
        <!--        <button mat-raised-button color="primary" disabled>{{ 'PROJECTS.BUTTON11' | translate }}</button>-->
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte" *ngIf="technoSelected=='Java' || technoSelected == null">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE8' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE8' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <div class="capture">
        <img mat-card-image src="assets/neocampus/neocampus2R.jpg" alt="NeoCampus">
      </div>
      <mat-card-content>
        <p class="tasktitle"><strong>{{ 'PROJECTS.TEXT8' | translate }}</strong></p>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT82' | translate }}</p></div>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT83' | translate }}</p></div>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT84' | translate }}</p></div>
      </mat-card-content>
      <mat-card-actions>
        <div class="filter-techn">
          <img class="logo-styl" [src]="technos[1].logo"/>
          <img class="logo-styl-firebase" [src]="technosBdd[0].logo"/>
        </div>
        <div class="datesp">
          <p>{{ 'PROJECTS.DATE8' | translate}}</p>
        </div>
        <!--        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO8' | translate }}</button>-->
        <!--        <button mat-raised-button color="primary" disabled>{{ 'PROJECTS.BUTTON8' | translate }}</button>-->
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte" *ngIf="technoSelected=='Angular' || technoSelected=='Java' || technoSelected == null">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE9' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE9' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <div class="capture">
        <img mat-card-image src="assets/techblog/techblogR.png" alt="TechBlog">
      </div>
      <mat-card-content>
        <p class="tasktitle"><strong>{{ 'PROJECTS.TEXT9' | translate }}</strong></p>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT92' | translate }}</p></div>
      </mat-card-content>
      <mat-card-actions>
        <div class="filter-techn">
          <img class="logo-styl" [matTooltip]="technos[0].name" [src]="technos[0].logo"/>
          <img class="logo-styl" [matTooltip]="'Java Spring'" [src]="technosWithoutFilter[0].logo"/>
          <img class="logo-styl" [matTooltip]="technosBdd[1].name" [src]="technosBdd[1].logo"/>
        </div>
        <div class="datesp">
          <p>{{ 'PROJECTS.DATE9' | translate}}</p>
        </div>
        <!--        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO9' | translate }}</button>-->
        <!--        <button mat-raised-button color="primary" disabled>{{ 'PROJECTS.BUTTON9' | translate }}</button>-->
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="carte" *ngIf="technoSelected=='PHP' || technoSelected == null">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ 'PROJECTS.TITLE6' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'PROJECTS.SSTITLE6' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <div class="capture">
        <img mat-card-image src="assets/betfight_wp/betfightR.jpg" alt="Site internet https://betfight.net">
      </div>
      <mat-card-content>
        <p class="tasktitle"><strong>{{ 'PROJECTS.TEXT6' | translate }}</strong></p>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT62' | translate }}</p></div>
        <div class="task"><mat-icon class="material-icons taskicon">task_alt</mat-icon><p class="tasktext">{{ 'PROJECTS.TEXT63' | translate }}</p></div>
      </mat-card-content>
      <mat-card-actions>
        <div class="filter-techn">
          <img class="logo-styl" [src]="technos[4].logo"/>
          <img class="logo-styl-firebase" [src]="technosBdd[0].logo"/>
        </div>
        <div class="datesp">
          <p>{{ 'PROJECTS.DATE6' | translate}}</p>
        </div>
        <!--        <button mat-button class="techno" disabled>{{ 'PROJECTS.TECHNO6' | translate }}</button>-->
        <!--        <a mat-raised-button color="primary" href="https://betfight.net/" target="_blank">{{ 'PROJECTS.BUTTON6' | translate }}</a>-->
      </mat-card-actions>
    </mat-card>
  </div>







</div>

<div class="emptyAfterFleche"></div>
