.projets{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.carte{
  width: 36vw;
  margin-top: 0px;
  margin-bottom: 50px;
  height: auto;
  border-radius: 30px;
  text-align: left;
}

.fleche{
  clip-path: polygon(100% 0, 100% 60%, 50% 100%, 0 60%, 0 0, 50% 40%);
  background: linear-gradient(90deg, rgba(123,31,162,1) 0%, rgba(156,39,205,1) 100%);
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  height: 100px;
  border-radius: 5px;
  animation-fill-mode: both;
  animation-name: exitAnim;
  animation-duration: 0.5s;
}

.fleche:hover{
  cursor: pointer;
  animation-fill-mode: both;
  animation-name: enterAnim;
  animation-duration: 0.5s;
}

@keyframes enterAnim {
  0%   {opacity: 1;}
  100% {opacity: 0.5;}
}
@keyframes exitAnim {
  0%   {opacity: 0.5;}
  100% {opacity: 1;}
}

.emptyAfterFleche{
  height: 40px;
}

mat-card-content{
  padding-left:30px!important;
  padding-right:30px!important;
}
mat-card-content{
  height: auto;
  font-family: Montserrat, sans-serif;
  //height: 220px;
}
mat-card-title,mat-card-subtitle{
  margin-left: -30px;
  letter-spacing: 1px;
}
mat-card-title{
  padding-top:16px;
}

.capture{
  margin-top : -15px;
  padding:16px!important;
}
.tasktitle{
  font-size: 1.2em;
  margin-bottom: 30px!important;
  margin-top: 20px!important;
}
.task{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 20px;
}
.taskicon{
  margin-right: 5px;
  font-size: 20px;
  color: #a1a1a1;
}
.tasktext{
  margin-bottom: 0;
  width: 100%;
}
.example-card{
  background-color: #4c5158;
  //height: 35vw!important;
}
mat-card{
  padding:0!important;
}
mat-card-actions{
  margin-bottom: 0px!important;
  margin-left:0px!important;
  margin-right:0px!important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left:30px!important;
  padding-right:23px!important;
}
.techno{
  padding-left:0px!important;
  padding-right:0px!important;
  min-width: 30px;
}

.filter-techn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px!important;
  margin-top: 10px!important;
}
.logo-styl{
  width:50px;
  height: 50px;
  margin-right: 20px;
}
.logo-styl-firebase{
  width:auto;
  height: 50px;
  margin-right: 20px;
}
.datesp{
  font-weight: lighter;
  //color: #f5f5f6;
  color: #a1a1a1;
  display: flex;
  align-items: flex-end;
  font-style:italic;
}
@media screen and (max-device-width:1700px),
screen and (max-width:1700px) {
  .emptyAfterFleche{
    height: 10px;
  }
}

@media screen and (max-device-width:1400px),
screen and (max-width:1400px) {
  .carte{
    width: 60vw;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  mat-card-content, mat-card-actions{
    padding-left:25px!important;
    padding-right:25px!important;
  }
  mat-card-content{
    height: auto;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .emptyAfterFleche{
    height: 0px;
  }
  .datesp{
    padding-right: 5px;
  }
}

@media screen and (max-device-width:1350px),
screen and (max-width:768px) {
  .carte{
    width: 90vw;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  mat-card-content, mat-card-actions{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  mat-card-content{
    height: auto;
  }
  mat-card-actions a{
    margin-left: 0;
    margin-right: 0;
  }
  .emptyAfterFleche{
    height: 0px;
  }
  .techno{
    font-size: 0.8em;
  }
  .logo-styl{
    width:40px;
    height: 40px;
  }
  .logo-styl-firebase{
    height: 40px;
  }
  .logo-styl-spring{
    height: 40px;
  }
  .datesp{
    padding-right: 5px;
  }
}

