.footer{
  width: 100%;
  padding-top:30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  clip-path: polygon(62% 8%, 88% 8%, 91% 60%, 100% 60%, 100% 100%, 0 100%, 0 60%, 59% 60%);
  background-color: #7b1fa2;
}

.vide{
  width: 64%;
}
.signature{
  display: flex;
  flex-direction: row;
  width: 36%;
  height: 55px;
}
.myname{
  letter-spacing: 2px;
  font-weight: lighter;
}

