
<div class="portfolio" #target0>
<app-menu></app-menu>
  <div class="liens">
    <div class="divLiens">
      <a href="https://www.linkedin.com/in/arnaud-huelin" target="_blank"><img src="assets/linkedin.svg" width="35px" height="35px" alt="Arnaud Huelin"/></a>
      <div class="mailto">
        <a href="mailto:arnaud.huelin@gmail.com"><img src="assets/gmail-icon.svg" width="auto" height="35px" title="arnaud.huelin@gmail.com" alt="Arnaud Huelin"/></a>
      </div>
    </div>
    <div class="divLang">
      <button class="lang" mat-button (click)="toEN()">EN</button>
      <button class="lang" mat-button (click)="toFR()">FR</button>
    </div>
  </div>
<!--  <a href="mailto:arnaud.huelin@gmail.com" class="mymail">arnaud.huelin@gmail.com</a>-->
  <div class="aboutme">
    <div class="blocText">
      <h2 class="titleAboutMe">{{ 'PORTFOLIO.TITLE_ABOUTME' | translate }}</h2>
      <p class="textAboutMe">{{ 'PORTFOLIO.TEXT_ABOUTME1' | translate }}<br>{{ 'PORTFOLIO.TEXT_ABOUTME2' | translate }}<br><br>{{ 'PORTFOLIO.TEXT_ABOUTME3' | translate }}</p>
    </div>
    <div class="education">
      <div>
        <h2>{{ 'PORTFOLIO.TITLE_EDUCATION' | translate }}</h2>
        <ul id="imageLi">
          <li>
            <span class="material-icons">school</span><a href="https://www.univ-tlse3.fr/licence-mention-informatique" target="blank" class="linkschool"> {{ 'PORTFOLIO.LI1' | translate }}</a>
          </li>
          <li>
            <span class="material-icons">school</span><a href="https://www.master-developpement-logiciel.fr/" target="blank" class="linkschool"> {{ 'PORTFOLIO.LI2' | translate }}</a>
          </li>
        </ul>
      </div>
<!--      <div class="logosEducation">
&lt;!&ndash;        <img src="/assets/le%20cnam.jpg" width="100px"/>&ndash;&gt;
        <a href="https://www.univ-tlse3.fr/master-informatique-parcours-developpement-logiciel" target="blank"><img src="/assets/logo-ups-fsi.png" width="200px"/></a>
        <a href="https://www.master-developpement-logiciel.fr/" target="blank"><img src="/assets/logo-master-dl.png" width="200px"/></a>
      </div>-->
    </div>
  </div>

  <div class="filter-techno">
    <div *ngFor="let techno of technos" [matTooltip]="techno.name" (click)="selectedTechno(techno)">
      <img class="logo-style" [ngClass]="{'logo-style-selected': techno.selected}" [src]="techno.logo" alt="Arnaud Huelin"/>
    </div>
  </div>

  <app-project [technoSelected]="technoSelected"></app-project>
  <div (click)="scrollToElement(target0)" class="fleche"></div>
  <app-footer></app-footer>
</div>
