
<div class="portfolio">
<app-menu></app-menu>
  <div class="liens">
    <a href="https://www.linkedin.com/in/arnaud-huelin-89b3b4166/" target="_blank"><img src="/assets/linkedin.svg" width="35px" height="35px"/></a>
    <div class="mailto">
      <a href="mailto:arnaud.huelin@gmail.com"><img src="/assets/gmail-icon.svg" width="40px" height="35px"/></a>
      <a href="mailto:arnaud.huelin@gmail.com" class="mymail">arnaud.huelin@gmail.com</a>
    </div>
  </div>
  <div class="aboutme">
    <div class="blocText">
      <h2 class="titleAboutMe">I AM A FULL STACK DEVELOPER</h2>
      <p class="textAboutMe">I graduated with a master degree in software development at the Paul Sabatier University in Toulouse in 2022.<br><br>
        I have always been passionate about computer science and I realized several projects with different technologies, programming languages and frameworks.<br>
        In recent years I have specialized in Web development.<br><br>
        I am currently looking for a new opportunity in Ontario, Canada.</p>
    </div>
    <div class="education">
      <div>
        <h2>EDUCATION</h2>
        <ul id="imageLi">
          <li>Bachelor degree of computer science</li>
          <li>Master degree in software development</li>
        </ul>
      </div>
<!--      <div class="logosEducation">
&lt;!&ndash;        <img src="/assets/le%20cnam.jpg" width="100px"/>&ndash;&gt;
        <a href="https://www.univ-tlse3.fr/master-informatique-parcours-developpement-logiciel" target="blank"><img src="/assets/logo-ups-fsi.png" width="200px"/></a>
        <a href="https://www.master-developpement-logiciel.fr/" target="blank"><img src="/assets/logo-master-dl.png" width="200px"/></a>
      </div>-->
    </div>
  </div>
  <app-projets></app-projets>
  <app-footer></app-footer>
</div>
